<div class='footer'>

  <%= link_to image_tag("discloset-logo-white.png", class:"discloset-icon") %>
  <div class='footer-contents'>
    <div class='discloset-details'>
      
    </div>
  </div>
</div>