.records-main {
  width: 100vw;
  background-color: #e7e7de;
  padding: 7vh 0;
}

.records-title {
  font-size: 50px;
  text-align: center;
  color: #826550;
  margin-bottom: 30px;
}

.records-items-number {
  color: #826550;
  font-size: 20px;
  text-align: center;
}

.item-number {
  font-size: 30px;
  color: #f4ad7a;
}

.records-contents {
  width: 100vw;
}

.pie-chart-top {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 40px;
}

.pie-chart-bottom {
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

.pie-chart {
  width: 25vw;
  background-color: #e7e7de;
  margin: 0 30px;
}

